### zig ###
# Zig programming language

.zig-cache/
zig-out/
/release/
/debug/
/build/
/build-*/
/docgen_tmp/

zig-cache/

# End of https://www.toptal.com/developers/gitignore/api/zig
zenv.json
.zig-cache
requirements.txt
tests
NOTES.md
.DS_store
.envrc
