{
  "base_dir": "zenv",
  "@@ENV_NAME@@": {
    "target_machines": ["@@HOSTNAME@@"],
    "description": "@@ENV_DESCRIPTION@@",
    "fallback_python": null,
    "modules": [],
    "modules_file":null,
    "dependencies": [],
    "dependency_file": @@DEV_DEPENDENCY_FILE@@,
    "setup": {
      "commands": [],
      "script": null
    },
    "activate": {
      "commands": [],
      "script": null
    }
  }
}
